<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"><!--JSP로 따지면 INCLUDE 하는것-->
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom/style.css}">
</head>
<body>
<div class="joinContainer">
    <div class="title">Registration</div>
    <form action="/member/join" method="post" th:object="${groupForm}">
        <div class="user-details">
            <div class="input-box">
                <span class=""detatils>title</span>
                <input type="text" th:field="*{title}" placeholder="Enter your id" required>
            </div>

            <div class="input-box">
                <span class=""detatils>content</span>
                <input type="text" th:field="*{content}" placeholder="Enter your username" required>
            </div>

            <div class="input-box">
                <span class=""detatils>category</span>
                <input type="text" th:field="*{category}" placeholder="Enter your password" required>
            </div>
            <!--<div class="input-box">
                <span class=""detatils>Confirm Password</span>
                <input type="password" placeholder="Confirm your password" required>
            </div>

            <div class="input-box">
                <span class=""detatils>Email</span>
                <input type="text" th:field="*{email}" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
                <span class=""detatils>Phone Number</span>
                <input type="text" th:field="*{phoneNumber}" placeholder="Enter your number" required>
            </div>

            <div class="gender-details">
                <input type="radio" name="gender" value="MALE" id="dot-1" th:attr="checked=*{gender}">
                <input type="radio" name="gender" value="FEMALE" id="dot-2" th:attr="checked=*{gender}">
                <span class="gender-title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                    </label>
                </div>

            </div>-->
        </div>
        <div class="btnDiv">
            <div class="btn-area">
                <button type="submit" class="btn blue" id="btn" >회원가입</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
