<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><!--JSP로 따지면 INCLUDE 하는것-->
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom/join.css}">
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="joinContainer">
        <div class="title">Registration</div>
        <form action="/member/join" method="post" th:object="${memberForm}">
            <div class="user-details">
                <div class="input-box">
                    <span class=""detatils>USER ID</span>
                    <input type="text" th:field="*{id}" placeholder="Enter your id" required>
                </div>

                <div class="input-box">
                    <span class=""detatils>User name</span>
                    <input type="text" th:field="*{name}" placeholder="Enter your username" required>
                </div>

                <div class="input-box">
                    <span class=""detatils>Password</span>
                    <input type="password" th:field="*{password}" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class=""detatils>Confirm Password</span>
                    <input type="password" placeholder="Confirm your password" required>
                </div>

                <div class="input-box">
                    <span class=""detatils>Email</span>
                    <input type="text" th:field="*{email}" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class=""detatils>Phone Number</span>
                    <input type="text" th:field="*{phoneNumber}" placeholder="Enter your number" required>
                </div>

                <div class="gender-details">
                    <input type="radio" name="gender" value="MALE" id="dot-1" th:attr="checked=*{gender}">
                    <input type="radio" name="gender" value="FEMALE" id="dot-2" th:attr="checked=*{gender}">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                    </div>

                </div>
            </div>
            <div class="btnDiv">
                <div class="btn-area">
                    <button type="submit" class="btn blue" id="btn" >JOIN</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>